.Toastify__toast--error {
    border-radius: 10px !important;
}

.Toastify__toast--success {
    border-radius: 10px !important;
}
.Toastify__toast--warning {
    border-radius: 10px !important;
}

.Toastify__toast-body {
    color: #444C63    ;
    font-size: 12px;
    padding-left: 10px;
    line-height: 20px;
    padding: 0px;
    padding-top: 25px;
    width: 100%;
    font-weight: 500;
    margin-left: 1px !important;
}
